body {
    margin: 0;
}

h1 {
    margin: 0;
}

/* header style */
header {
    background-color: #1ebefd81;
    min-height: 100px;
    text-align: center;
    line-height: 3;
}


/* main style */
main {
    background-color: #e0e0e0;
    padding: 100px;
}

main .container {
    font-size: 2em;
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
    width: 1000px;
    line-height: 10;
    box-shadow: 8px 8px 12px 12px #d3d3d3;
}


/* footer style */
footer {
    background-color: #7c8caf;
    line-height: 5;
    text-align: center;
}   